@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

html {
  /* 
    whenever you add padding to an element, what could happen is
    the element might stretch the page. 
    Say you had a page that was 100 percent of the view ports width, 
    if padding is added, it would extend beyong 100 percent, which adds a
    horizontal scroll bar. 
    This prevents padding to add extra width/height to the page. 
    */
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  background-color: whitesmoke;
}

h1 {
  font-family: 'Rowdies', sans-serif;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 45px;
  letter-spacing: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* icon attribute */
.icon-attribute {
  text-align: center;
  font-size: 12px;
  color: #fff;
  text-shadow: 2px 1px 3px #6f6f6f;
}

/* Loader */
.loader {
  /* don't want it t move even if user is scrolling the page */
  position: fixed;

  /* extend it over the page, each from its corners */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;

  /* centering the image in relates to the page */
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin: 8px;
}

/* Media Query */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }

  .image-container {
    margin: 10px;
  }
}
